*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body{
    background-color:rgb(37, 35, 35);

}

h1{
    color: white;
    padding-left:500px ;
    padding-top: 40px;
}

.caixa-senha{
    background-color: rgb(148, 5, 5);
    border-radius: 12px;
    width:300px ;
    height: 200px;
    padding: 20px;
    margin-left: 500px;
    margin-top: 20px;
}

.barra{
    margin-top: 10px;

}